<%- include('../../partials/header.ejs')  %>

<body class="background-color">
    <%- include('../../partials/navbar.ejs')  %>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">

                <div class="card mt-2">

                    <div class="card-header">
                        <h1 class="mt-3">Criar categoria</h1>
                    </div>
    
                    <form method="POST" action="/categories/save" class="card-body">
                        <div class="form-group">
                            <label for="categorytitle">Título:</label>
                            <input id="categorytitle" class="form-control" type="text" name="title" placeholder="Insira aqui o nome da categoria">
                        </div>
    
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a href="/admin/categories/" class="btn btn-secondary">Voltar</a>
                    </form>

                </div>   
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
</body>