<nav class="navbar navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Site</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories"></a>
        </li>
    </ul>
</nav>

