<%- include('partials/header.ejs')  %>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">ALOU BOOTSTRAP</h1>
                </div>
            </div>
        </div>
    </body>
<%- include('partials/footer.ejs') %>

